.botonError{
  background:  #F72349;
  border: none
}

.botonCorrecto{
  background: #7ED957;
  border: none;
}

div{
  text-align: center;
  
}

h2{
  text-align: center;
  font-family: Verdana;
}
button{
  margin: 10px;
  width: 60%;
}

.imagenPregunta1{
 vertical-align: center;
  background-image: url(img/three-toed-sloth-mapachetours.jpeg);
}

.imagenPregunta2{
  background-image: url(img/AC206C8A-212C-446F-BDD9-733AC7A1AE52.jpeg);
}
